# 시스템 설정
DEV=true
DOMAIN=http://localhost

# 데이터베이스 설정
DB_TYPE=mysql
DB_SERVER=localhost
DB_NAME=boardgame_cafe
DB_PORT=3306
DB_CHARSET=utf8mb4
DB_USERNAME=
DB_PASSWORD=

# SMTP 이메일 설정
SMTP_SERVER=smtp.naver.com
SMTP_PORT=587
SMTP_USERNAME=unionster@naver.com
SMTP_PASSWORD=
