{% extends 'layout.html' %}

{% block content %}
{% if found_username %}
    <p>회원님의 아이디는 <strong>{{ found_username }} 입니다.</strong></p>
    <a href="{{ doc_root }}login" class="btn">로그인하러 가기</a>
{% else %}
    <form action="" method="POST">
        {% if errors.find %}
            <div class="error">{{ errors.find }}</div>
        {% endif %}
        
        <input type="email" id="email" name="email" value="{{ email }}" placeholder="이메일 주소 입력">
        
        <button type="submit">아이디 찾기</button>
    </form>
{% endif %}
{% endblock %}