{% extends 'layout.html' %}

{% block content %}
{# 토스트 팝업 #}
<div id="toast-container" class="toast-container"></div>
{% if status == 'contact_us_success' %}
    <script>window.addEventListener('DOMContentLoaded', () => showToast('메일문의가 완료되었습니다.'));</script>
{% endif %}
    <p>보드트립의 메인 페이지입니다. (배포 테스트 중 2)</p>
{% endblock %}

{% block scripts %}
<script>
    // 토스트 팝업
    function showToast(message) {
        const container = document.getElementById('toast-container');
        if (!container) return;
    
        const toast = document.createElement('div');
        toast.className = 'toast-message';
        toast.innerText = message;
    
        container.appendChild(toast);
    
        // 애니메이션이 끝나는 2.8초 뒤에 메모리에서 안전하게 제거
        setTimeout(() => {
            toast.remove();
        }, 2800);
    }
</script>
{% endblock %}
