{% extends 'layout.html' %}

{% block content %}
<div class="container board-view-container my-6">
    <!-- 게시판 타이틀 영역 -->
    <div class="board-view__board mb-3">
        <h2 class="title mb-0">{{ board_title }}</h2>
    </div>

    <!-- 게시글 상단 영역 -->
    <div class="board-view__header mb-5">
        <div class="d-flex align-items-center gap-3 mb-3">
            {% if post.is_pinned == 1 %}
                <span class="badge bg-primary text-white fw-normal rounded-0">공지</span>
            {% endif %}
            <div class="top">
                <h1 class="title mb-0">{{ post.title }}</h1>
            </div>
        </div>
        
        <div class="bottom small row mt-4">
            <div class="writer col-12 col-md-6">
                <span class="me-3">
                    <strong>작성자</strong> {{ post.nickname }}
                </span>
            </div>
            <div class="day col-12 col-md-6 text-md-end">
                <span class="text-secondary">
                    <strong>작성일</strong> {{ post.created_at|date('Y-m-d H:i') }}
                </span>
            </div>
        </div>
    </div>

    <!-- 첨부파일 영역 -->
    {% if post.files is not empty %}
        <div class="board-view__files p-3 bg-light mb-4">
            <div class="fw-bold text-dark small mb-2"><i class="bi bi-paperclip"></i> 첨부파일 ({{ post.files|length }})</div>
            <div class="d-flex flex-column gap-1">
                {% for file in post.files %}
                    <div class="small">
                        <a href="{{ file.file_path|replace({'public': ''}) }}" class="text-decoration-none text-secondary link-primary" download="{{ file.org_name }}">
                            <i class="bi bi-file-earmark-arrow-down text-secondary me-1"></i> {{ file.org_name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- 게시글 본문 영역 -->
    <div class="board-view__content border p-4 bg-white mb-5">{{ post.content|raw }}</div>

    <!-- 게시글 하단 버튼 구역 -->
    <div class="board-view__footer d-flex justify-content-between gap-2">
        <a href="{{ doc_root }}board/{{ board_name }}" class="btn btn-secondary px-4 rounded-0">목록으로</a>
        
        {% if session.role == 'ADMIN' %}
            <div>
                <a href="{{ doc_root }}board/{{ board_name }}/edit/{{ post.id }}" class="btn btn-outline-primary px-4 me-1 rounded-0">수정</a>
                <a href="{{ doc_root }}board/{{ board_name }}/delete/{{ post.id }}" class="btn btn-outline-danger px-4 rounded-0" onclick="return confirm('해당 게시글을 정말 삭제하시겠습니까?');">삭제</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}