{% extends 'layout.html' %}

{% block content %}
<div class="container withdraw-container my-5">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <p class="fs-5 mb-0">탈퇴가 완료되었습니다. 서비스가 다시 필요해지면 언제든 다시 찾아주세요.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- 하단 버튼 -->
            <div class="d-flex justify-content-center gap-3 mt-5">
                <a href="{{ doc_root }}" class="btn btn-outline-secondary rounded-0 px-5 py-3">메인으로</a>
                <a href="{{ doc_root }}register" class="btn btn-primary rounded-0 px-5 py-3">가입하기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
